<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body style="background-color: #ef8b67">
<h1 style="text-align: center; color: red">Companies</h1>
<h4 style="margin-left: 80%"><a href="/logout">Logout</a></h4>
<h4 style="margin-left: 80%"><a href="/index">Home Page</a></h4>
<h4 style="margin-left: 80%"><a href="/addCompany">Add Company</a></h4>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SIZE</th>
            <th>ADDRESS</th>
            <th>DELETE</th>
        </tr>
        <tr th:each="company : ${companies}">
            <td th:text="${company.id}"></td>
            <td th:text="${company.name}"></td>
            <td th:text="${company.size}"></td>
            <td th:text="${company.address}"></td>
            <td><a th:href="@{/deleteCompany/{id}(id = ${company.id})}" href="#"><span>Delete</span></a></td>
        </tr>
    </table>
</div>
</body>
</html>