<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Topic</title>
</head>
<body style="background-color: #ef8b67">
<h1 style="text-align: center">Single Topic</h1>

<h2 th:text="${topic.name}"></h2>

<div style="margin-left: 50%">
    <table border="1">
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.text}"></td>
            <td th:text="${comment.createDate}"></td>
            <td th:text="${comment.employee.name}"></td>
        </tr>
        <br>
    </table>
</div>

<form action="/addComment" method="post" style="text-align: center; margin-top: 10%">
    <input type="hidden" th:value="${topic.id}" name="topic Id">
    <textarea name="text"></textarea>
    <input type="submit" value="Add Comment">
</form>
</body>
</html>